In [130]:
import pandas as pd

In [136]:
student_grades = student_grades_ml_ready

In [138]:
student_grades = pd.read_csv("./Factors_ affecting_ university_student_grades_dataset.csv")

In [140]:
student_grades.head(20)

,Age,Gender,Parental_Education,Family_Income,Previous_Grades,Attendance,Class_Participation,Study_Hours,Major,School_Type,...,Peer_Group,Bullying,Study_Space,Learning_Style,Tutoring,Mentoring,Lack_of_Interest,Time_Wasted_on_Social_Media,Sports_Participation,Grades
0,22.0,F,College,50000.0,A,81.0,Medium,8.0,Law,Private,...,Neutral,NaN,No,Visual,Yes,NaN,Low,2.0,NaN,B
1,21.0,M,NaN,60000.0,A,NaN,Medium,12.0,Law,Public,...,Negative,No,No,Auditory,Yes,Yes,Medium,5.0,High,NaN
2,19.0,M,College,75000.0,C,93.0,Medium,12.0,Law,Private,...,Neutral,No,Yes,NaN,No,No,Low,2.0,High,A
3,21.0,M,College,60000.0,A,86.0,Low,15.0,Business,Public,...,Neutral,No,NaN,Auditory,Yes,Yes,Low,3.0,Medium,C
4,19.0,NaN,NaN,40000.0,NaN,89.0,High,15.0,Medicine,NaN,...,Positive,No,No,Auditory,Yes,NaN,Medium,3.0,High,B
5,19.0,M,College,40000.0,C,82.0,Medium,14.0,Law,Private,...,NaN,No,Yes,Auditory,NaN,No,Low,5.0,NaN,C
6,20.0,NaN,NaN,NaN,A,84.0,Low,13.0,Law,Private,...,Negative,NaN,Yes,NaN,No,No,High,5.0,Medium,A
7,21.0,M,College,40000.0,NaN,75.0,Low,5.0,Business,Public,...,Positive,Yes,Yes,Visual,Yes,Yes,High,6.0,High,A
8,19.0,M,High School,75000.0,C,73.0,High,10.0,Law,Public,...,Neutral,No,No,Auditory,No,Yes,Low,4.0,High,B
9,21.0,F,Graduate,30000.0,A,81.0,High,6.0,Arts,Private,...,Negative,No,No,Visual,Yes,Yes,High,2.0,High,NaN
10,22.0,F,High School,75000.0,C,NaN,Low,9.0,Engineering,Private,...,Neutral,No,Yes,Auditory,No,No,Medium,5.0,NaN,B
11,19.0,F,Graduate,NaN,A,98.0,Low,9.0,Business,Private,...,Neutral,Yes,Yes,NaN,No,Yes,Medium,2.0,Low,C
12,22.0,F,High School,50000.0,C,72.0,High,20.0,Science,Private,...,Neutral,Yes,No,Kinesthetic,No,Yes,Low,2.0,Low,C
13,21.0,F,NaN,40000.0,C,79.0,Medium,18.0,Engineering,NaN,...,Neutral,No,No,Auditory,Yes,Yes,Medium,6.0,High,C
14,NaN,M,Some College,40000.0,B,82.0,High,NaN,Medicine,Public,...,Positive,NaN,NaN,Auditory,No,Yes,Medium,6.0,Medium,B
15,20.0,F,NaN,NaN,A,94.0,High,10.0,Law,Private,...,Positive,NaN,No,Auditory,No,No,Low,5.0,Low,A
16,21.0,M,College,75000.0,B,70.0,Low,9.0,Engineering,NaN,...,Positive,Yes,Yes,NaN,No,No,Medium,4.0,Low,B
17,21.0,F,High School,50000.0,NaN,96.0,Medium,20.0,Arts,Private,...,Positive,No,Yes,Auditory,Yes,No,High,6.0,High,A
18,20.0,F,College,50000.0,A,79.0,High,20.0,Business,Private,...,Negative,No,NaN,Auditory,Yes,Yes,NaN,5.0,Low,C
19,19.0,NaN,Graduate,30000.0,C,75.0,High,19.0,Arts,Public,...,Positive,No,Yes,Auditory,No,Yes,Low,6.0,Medium,B

In [142]:
student_grades.columns

Index(['Age', 'Gender', 'Parental_Education', 'Family_Income',
       'Previous_Grades', 'Attendance', 'Class_Participation', 'Study_Hours',
       'Major', 'School_Type', 'Financial_Status', 'Parental_Involvement',
       'Educational_Resources', 'Motivation', 'Self_Esteem', 'Stress_Levels',
       'School_Environment', 'Professor_Quality', 'Class_Size',
       'Extracurricular_Activities', 'Sleep_Patterns', 'Nutrition',
       'Physical_Activity', 'Screen_Time', 'Educational_Tech_Use',
       'Peer_Group', 'Bullying', 'Study_Space', 'Learning_Style', 'Tutoring',
       'Mentoring', 'Lack_of_Interest', 'Time_Wasted_on_Social_Media',
       'Sports_Participation', 'Grades'],
      dtype='object')

In [144]:
student_grades.describe()

,Age,Attendance,Study_Hours,Class_Size,Sleep_Patterns,Screen_Time,Time_Wasted_on_Social_Media
count,9099.000000,9060.000000,9073.000000,9114.000000,9048.000000,9120.000000,9137.000000
mean,19.996703,84.908499,12.467761,60.238754,6.538904,6.031469,3.489329
std,1.406885,8.985221,4.613845,23.337209,1.720632,2.597880,1.704057
min,18.000000,70.000000,5.000000,20.000000,4.000000,2.000000,1.000000
25%,19.000000,77.000000,9.000000,40.000000,5.000000,4.000000,2.000000
50%,20.000000,85.000000,12.000000,61.000000,7.000000,6.000000,3.000000
75%,21.000000,93.000000,16.000000,80.000000,8.000000,8.000000,5.000000
max,22.000000,100.000000,20.000000,100.000000,9.000000,10.000000,6.000000

In [146]:
student_grades.isnull()

,Age,Gender,Parental_Education,Family_Income,Previous_Grades,Attendance,Class_Participation,Study_Hours,Major,School_Type,...,Peer_Group,Bullying,Study_Space,Learning_Style,Tutoring,Mentoring,Lack_of_Interest,Time_Wasted_on_Social_Media,Sports_Participation,Grades
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,True,False
1,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,True,True,False,True,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10059,False,True,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10060,False,False,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10061,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10062,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
10063,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True

In [154]:
student_grades.Age

0        22.0
1        21.0
2        19.0
3        21.0
4        19.0
         ...
10059    20.0
10060    19.0
10061    20.0
10062    21.0
10063    18.0
Name: Age, Length: 10064, dtype: float64

In [156]:
student_grades['Age'].fillna(student_grades['Age'].mean(), inplace=True)
student_grades.Age

0        22.0
1        21.0
2        19.0
3        21.0
4        19.0
         ...
10059    20.0
10060    19.0
10061    20.0
10062    21.0
10063    18.0
Name: Age, Length: 10064, dtype: float64

In [158]:
print(student_grades['Age'].isnull().any()) # to confirm if the null values in the specific column were truely replaced

False

In [160]:
student_grades['Gender']=student_grades['Gender'].replace({'F':1, 'M':0}, method='map')
student_grades.Gender

C:\Users\USER\AppData\Local\Temp\ipykernel_11604\2030678058.py:1: FutureWarning: The 'method' keyword in Series.replace is deprecated and will be removed in a future version.
  student_grades['Gender']=student_grades['Gender'].replace({'F':1, 'M':0}, method='map')
C:\Users\USER\AppData\Local\Temp\ipykernel_11604\2030678058.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  student_grades['Gender']=student_grades['Gender'].replace({'F':1, 'M':0}, method='map')

0        1.0
1        0.0
2        0.0
3        0.0
4        NaN
        ...
10059    NaN
10060    0.0
10061    0.0
10062    1.0
10063    1.0
Name: Gender, Length: 10064, dtype: float64

In [162]:
print(student_grades['Parental_Education'].unique())

['College' nan 'High School' 'Graduate' 'Some College']

In [164]:
student_grades['Parental_Education'] = student_grades['Parental_Education'].fillna('unknown')
print(student_grades['Parental_Education'].isnull().any())

False

In [166]:
student_grades['Family_Income'] = student_grades['Family_Income'].replace({'True': 1, 'False':0})
mode_value = student_grades['Family_Income'].mode()[0] 
student_grades['Family_Income'] = student_grades['Family_Income'].fillna(mode_value)
print(student_grades['Family_Income'].isnull().any())

False

In [168]:
student_grades['Study_Hours'].fillna(student_grades['Study_Hours'].mean(), inplace=True)
print(student_grades['Study_Hours'].isnull().any())

False

C:\Users\USER\AppData\Local\Temp\ipykernel_11604\2843913477.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_grades['Study_Hours'].fillna(student_grades['Study_Hours'].mean(), inplace=True)

In [170]:
mode_value = student_grades['Major'].mode()[0] 
student_grades['Major'] = student_grades['Major'].fillna(mode_value)
print(student_grades['Major'].isnull().any())

False

In [172]:
student_grades['School_Type'].isnull().any()

True

In [174]:
student_grades['Peer_Group'].isnull().any()

True

In [176]:
mode_value = student_grades['Peer_Group'].mode()[0] 
student_grades['Peer_Group'] = student_grades['Peer_Group'].fillna(mode_value)
print(student_grades['Peer_Group'].isnull().any())

False

In [178]:
student_grades['Previous_Grades'].isnull().any()

True

In [180]:
mode_value = student_grades['Previous_Grades'].mode()[0] 
student_grades['Previous_Grades'] = student_grades['Previous_Grades'].fillna(mode_value)
print(student_grades['Previous_Grades'].isnull().any())

False

In [182]:
student_grades['Family_Income'].isnull().any()

False

In [184]:
student_grades['Attendance'].fillna(student_grades['Attendance'].mean(), inplace=True)
print(student_grades['Previous_Grades'].isnull().any())

False

C:\Users\USER\AppData\Local\Temp\ipykernel_11604\2994679834.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_grades['Attendance'].fillna(student_grades['Attendance'].mean(), inplace=True)

In [186]:
student_grades['Class_Participation'].isnull().any()

True

In [188]:
mode_value = student_grades['Class_Participation'].mode()[0] 
student_grades['Class_Participation'] = student_grades['Class_Participation'].fillna(mode_value)
print(student_grades['Class_Participation'].isnull().any())

mode_value = student_grades['Bullying'].mode()[0] 
student_grades['Bullying'] = student_grades['Bullying'].fillna(mode_value)
print(student_grades['Bullying'].isnull().any())

mode_value = student_grades['Study_Space'].mode()[0] 
student_grades['Study_Space'] = student_grades['Study_Space'].fillna(mode_value)
print(student_grades['Study_Space'].isnull().any())

mode_value = student_grades['Learning_Style'].mode()[0] 
student_grades['Learning_Style'] = student_grades['Learning_Style'].fillna(mode_value)
print(student_grades['Learning_Style'].isnull().any())

mode_value = student_grades['Tutoring'].mode()[0] 
student_grades['Tutoring'] = student_grades['Tutoring'].fillna(mode_value)
print(student_grades['Tutoring'].isnull().any())

mode_value = student_grades['Lack_of_Interest'].mode()[0] 
student_grades['Lack_of_Interest'] = student_grades['Lack_of_Interest'].fillna(mode_value)
print(student_grades['Lack_of_Interest'].isnull().any())

mode_value = student_grades['Sports_Participation'].mode()[0] 
student_grades['Sports_Participation'] = student_grades['Sports_Participation'].fillna(mode_value)
print(student_grades['Sports_Participation'].isnull().any())

mode_value = student_grades['Grades'].mode()[0] 
student_grades['Grades'] = student_grades['Grades'].fillna(mode_value)
print(student_grades['Grades'].isnull().any())

student_grades['Time_Wasted_on_Social_Media'].fillna(student_grades['Time_Wasted_on_Social_Media'].mean(), inplace=True)
print(student_grades['Time_Wasted_on_Social_Media'].isnull().any())

False
False
False
False
False
False
False
False
False

C:\Users\USER\AppData\Local\Temp\ipykernel_11604\2770953379.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_grades['Time_Wasted_on_Social_Media'].fillna(student_grades['Time_Wasted_on_Social_Media'].mean(), inplace=True)

In [190]:
student_grades.isnull().any()

Age                            False
Gender                          True
Parental_Education             False
Family_Income                  False
Previous_Grades                False
Attendance                     False
Class_Participation            False
Study_Hours                    False
Major                          False
School_Type                     True
Financial_Status                True
Parental_Involvement            True
Educational_Resources           True
Motivation                      True
Self_Esteem                     True
Stress_Levels                   True
School_Environment              True
Professor_Quality               True
Class_Size                      True
Extracurricular_Activities      True
Sleep_Patterns                  True
Nutrition                       True
Physical_Activity               True
Screen_Time                     True
Educational_Tech_Use            True
Peer_Group                     False
Bullying                       False
Study_Space                    False
Learning_Style                 False
Tutoring                       False
Mentoring                       True
Lack_of_Interest               False
Time_Wasted_on_Social_Media    False
Sports_Participation           False
Grades                         False
dtype: bool

In [192]:
student_grades.Extracurricular_Activities

0        Yes
1        Yes
2         No
3        Yes
4        Yes
        ...
10059    Yes
10060    Yes
10061    Yes
10062     No
10063     No
Name: Extracurricular_Activities, Length: 10064, dtype: object

In [194]:
mode_value = student_grades['Financial_Status'].mode()[0] 
student_grades['Financial_Status'] = student_grades['Financial_Status'].fillna(mode_value)
print(student_grades['Financial_Status'].isnull().any())

mode_value = student_grades['Parental_Involvement'].mode()[0] 
student_grades['Parental_Involvement'] = student_grades['Parental_Involvement'].fillna(mode_value)
print(student_grades['Parental_Involvement'].isnull().any())

mode_value = student_grades['Educational_Resources'].mode()[0] 
student_grades['Educational_Resources'] = student_grades['Educational_Resources'].fillna(mode_value)
print(student_grades['Educational_Resources'].isnull().any())

mode_value = student_grades['Motivation'].mode()[0] 
student_grades['Motivation'] = student_grades['Motivation'].fillna(mode_value)
print(student_grades['Motivation'].isnull().any())

mode_value = student_grades['Self_Esteem'].mode()[0] 
student_grades['Self_Esteem'] = student_grades['Self_Esteem'].fillna(mode_value)
print(student_grades['Self_Esteem'].isnull().any())

mode_value = student_grades['Stress_Levels'].mode()[0] 
student_grades['Stress_Levels'] = student_grades['Stress_Levels'].fillna(mode_value)
print(student_grades['Stress_Levels'].isnull().any())

mode_value = student_grades['School_Environment'].mode()[0] 
student_grades['School_Environment'] = student_grades['School_Environment'].fillna(mode_value)
print(student_grades['School_Environment'].isnull().any())


mode_value = student_grades['Professor_Quality'].mode()[0] 
student_grades['Professor_Quality'] = student_grades['Professor_Quality'].fillna(mode_value)
print(student_grades['Professor_Quality'].isnull().any())

mode_value = student_grades['Class_Size'].mode()[0] 
student_grades['Class_Size'] = student_grades['Class_Size'].fillna(mode_value)
print(student_grades['Class_Size'].isnull().any())

mode_value = student_grades['Extracurricular_Activities'].mode()[0] 
student_grades['Extracurricular_Activities'] = student_grades['Extracurricular_Activities'].fillna(mode_value)
print(student_grades['Extracurricular_Activities'].isnull().any())

mode_value = student_grades['Sleep_Patterns'].mode()[0] 
student_grades['Sleep_Patterns'] = student_grades['Sleep_Patterns'].fillna(mode_value)
print(student_grades['Sleep_Patterns'].isnull().any())

mode_value = student_grades['Nutrition'].mode()[0] 
student_grades['Nutrition'] = student_grades['Nutrition'].fillna(mode_value)
print(student_grades['Nutrition'].isnull().any())

mode_value = student_grades['Physical_Activity'].mode()[0] 
student_grades['Physical_Activity'] = student_grades['Physical_Activity'].fillna(mode_value)
print(student_grades['Physical_Activity'].isnull().any())

mode_value = student_grades['Screen_Time'].mode()[0] 
student_grades['Screen_Time'] = student_grades['Screen_Time'].fillna(mode_value)
print(student_grades['Screen_Time'].isnull().any())


mode_value = student_grades['Educational_Tech_Use'].mode()[0] 
student_grades['Educational_Tech_Use'] = student_grades['Educational_Tech_Use'].fillna(mode_value)
print(student_grades['Educational_Tech_Use'].isnull().any())

mode_value = student_grades['Mentoring'].mode()[0] 
student_grades['Mentoring'] = student_grades['Mentoring'].fillna(mode_value)
print(student_grades['Mentoring'].isnull().any())

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [196]:
student_grades.isnull().any()

Age                            False
Gender                          True
Parental_Education             False
Family_Income                  False
Previous_Grades                False
Attendance                     False
Class_Participation            False
Study_Hours                    False
Major                          False
School_Type                     True
Financial_Status               False
Parental_Involvement           False
Educational_Resources          False
Motivation                     False
Self_Esteem                    False
Stress_Levels                  False
School_Environment             False
Professor_Quality              False
Class_Size                     False
Extracurricular_Activities     False
Sleep_Patterns                 False
Nutrition                      False
Physical_Activity              False
Screen_Time                    False
Educational_Tech_Use           False
Peer_Group                     False
Bullying                       False
Study_Space                    False
Learning_Style                 False
Tutoring                       False
Mentoring                      False
Lack_of_Interest               False
Time_Wasted_on_Social_Media    False
Sports_Participation           False
Grades                         False
dtype: bool

In [198]:
mode_value = student_grades['School_Type'].mode()[0] 
student_grades['School_Type'] = student_grades['School_Type'].fillna(mode_value)
print(student_grades.isnull().any())

Age                            False
Gender                          True
Parental_Education             False
Family_Income                  False
Previous_Grades                False
Attendance                     False
Class_Participation            False
Study_Hours                    False
Major                          False
School_Type                    False
Financial_Status               False
Parental_Involvement           False
Educational_Resources          False
Motivation                     False
Self_Esteem                    False
Stress_Levels                  False
School_Environment             False
Professor_Quality              False
Class_Size                     False
Extracurricular_Activities     False
Sleep_Patterns                 False
Nutrition                      False
Physical_Activity              False
Screen_Time                    False
Educational_Tech_Use           False
Peer_Group                     False
Bullying                       False
Study_Space                    False
Learning_Style                 False
Tutoring                       False
Mentoring                      False
Lack_of_Interest               False
Time_Wasted_on_Social_Media    False
Sports_Participation           False
Grades                         False
dtype: bool

In [200]:
duplicate_count = student_grades.duplicated().sum()
print(f"Numbr of duplicate rows: {duplicate_count}")

Numbr of duplicate rows: 0

In [202]:
print(student_grades.dtypes)

Age                            float64
Gender                         float64
Parental_Education              object
Family_Income                   object
Previous_Grades                 object
Attendance                     float64
Class_Participation             object
Study_Hours                    float64
Major                           object
School_Type                     object
Financial_Status                object
Parental_Involvement            object
Educational_Resources           object
Motivation                      object
Self_Esteem                     object
Stress_Levels                   object
School_Environment              object
Professor_Quality               object
Class_Size                     float64
Extracurricular_Activities      object
Sleep_Patterns                 float64
Nutrition                       object
Physical_Activity               object
Screen_Time                    float64
Educational_Tech_Use            object
Peer_Group                      object
Bullying                        object
Study_Space                     object
Learning_Style                  object
Tutoring                        object
Mentoring                       object
Lack_of_Interest                object
Time_Wasted_on_Social_Media    float64
Sports_Participation            object
Grades                          object
dtype: object

In [204]:
from sklearn.preprocessing import OneHotEncoder
student_grades = pd.read_csv("./Factors_ affecting_ university_student_grades_dataset.csv")
student_grades_ml_ready = pd.get_dummies(student_grades, drop_first=True)
print(student_grades_ml_ready.dtypes)

Age                            float64
Attendance                     float64
Study_Hours                    float64
Class_Size                     float64
Sleep_Patterns                 float64
                                ...
Lack_of_Interest_Medium           bool
Sports_Participation_Low          bool
Sports_Participation_Medium       bool
Grades_B                          bool
Grades_C                          bool
Length: 61, dtype: object

In [206]:
print(student_grades_ml_ready.dtypes)

Age                            float64
Attendance                     float64
Study_Hours                    float64
Class_Size                     float64
Sleep_Patterns                 float64
                                ...
Lack_of_Interest_Medium           bool
Sports_Participation_Low          bool
Sports_Participation_Medium       bool
Grades_B                          bool
Grades_C                          bool
Length: 61, dtype: object

In [208]:
print("Encoded Columns Preview:")
print(student_grades_ml_ready.head(3))

Encoded Columns Preview:
    Age  Attendance  Study_Hours  Class_Size  Sleep_Patterns  Screen_Time  \
0  22.0        81.0          8.0        39.0             6.0          3.0
1  21.0         NaN         12.0        75.0             5.0          9.0
2  19.0        93.0         12.0        46.0             6.0          7.0

   Time_Wasted_on_Social_Media  Gender_M  Parental_Education_Graduate  \
0                          2.0     False                        False
1                          5.0      True                        False
2                          2.0      True                        False

   Parental_Education_High School  ...  Learning_Style_Kinesthetic  \
0                           False  ...                       False
1                           False  ...                       False
2                           False  ...                       False

   Learning_Style_Visual  Tutoring_Yes  Mentoring_Yes  Lack_of_Interest_Low  \
0                   True          True          False                  True
1                  False          True           True                 False
2                  False         False          False                  True

   Lack_of_Interest_Medium  Sports_Participation_Low  \
0                    False                     False
1                     True                     False
2                    False                     False

   Sports_Participation_Medium  Grades_B  Grades_C
0                        False      True     False
1                        False     False     False
2                        False     False     False

[3 rows x 61 columns]

In [210]:
bool_cols = student_grades_ml_ready.select_dtypes('bool').columns
print(bool_cols)

Index(['Gender_M', 'Parental_Education_Graduate',
       'Parental_Education_High School', 'Parental_Education_Some College',
       'Family_Income_40000.0', 'Family_Income_50000.0',
       'Family_Income_60000.0', 'Family_Income_75000.0',
       'Family_Income_Unknown', 'Previous_Grades_B', 'Previous_Grades_C',
       'Class_Participation_Low', 'Class_Participation_Medium',
       'Major_Business', 'Major_Engineering', 'Major_Law', 'Major_Medicine',
       'Major_Science', 'School_Type_Public', 'Financial_Status_Low',
       'Financial_Status_Medium', 'Parental_Involvement_Low',
       'Parental_Involvement_Medium', 'Educational_Resources_Yes',
       'Motivation_Low', 'Motivation_Medium', 'Self_Esteem_Low',
       'Self_Esteem_Medium', 'Stress_Levels_Low', 'Stress_Levels_Medium',
       'School_Environment_Neutral', 'School_Environment_Positive',
       'Professor_Quality_Low', 'Professor_Quality_Medium',
       'Extracurricular_Activities_Yes', 'Nutrition_Healthy',
       'Nutrition_Unhealthy', 'Physical_Activity_Low',
       'Physical_Activity_Medium', 'Educational_Tech_Use_Yes',
       'Peer_Group_Neutral', 'Peer_Group_Positive', 'Bullying_Yes',
       'Study_Space_Yes', 'Learning_Style_Kinesthetic',
       'Learning_Style_Visual', 'Tutoring_Yes', 'Mentoring_Yes',
       'Lack_of_Interest_Low', 'Lack_of_Interest_Medium',
       'Sports_Participation_Low', 'Sports_Participation_Medium', 'Grades_B',
       'Grades_C'],
      dtype='object')

In [212]:
student_grades_ml_ready[bool_cols] = student_grades_ml_ready[bool_cols].astype(int)

In [214]:
print(student_grades_ml_ready.dtypes)

Age                            float64
Attendance                     float64
Study_Hours                    float64
Class_Size                     float64
Sleep_Patterns                 float64
                                ...
Lack_of_Interest_Medium          int32
Sports_Participation_Low         int32
Sports_Participation_Medium      int32
Grades_B                         int32
Grades_C                         int32
Length: 61, dtype: object

In [216]:
student_grades_ml_ready.head(10)

,Age,Attendance,Study_Hours,Class_Size,Sleep_Patterns,Screen_Time,Time_Wasted_on_Social_Media,Gender_M,Parental_Education_Graduate,Parental_Education_High School,...,Learning_Style_Kinesthetic,Learning_Style_Visual,Tutoring_Yes,Mentoring_Yes,Lack_of_Interest_Low,Lack_of_Interest_Medium,Sports_Participation_Low,Sports_Participation_Medium,Grades_B,Grades_C
0,22.0,81.0,8.0,39.0,6.0,3.0,2.0,0,0,0,...,0,1,1,0,1,0,0,0,1,0
1,21.0,NaN,12.0,75.0,5.0,9.0,5.0,1,0,0,...,0,0,1,1,0,1,0,0,0,0
2,19.0,93.0,12.0,46.0,6.0,7.0,2.0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,21.0,86.0,15.0,NaN,5.0,9.0,3.0,1,0,0,...,0,0,1,1,1,0,0,1,0,1
4,19.0,89.0,15.0,41.0,4.0,9.0,3.0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
5,19.0,82.0,14.0,NaN,8.0,NaN,5.0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
6,20.0,84.0,13.0,82.0,7.0,5.0,5.0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,21.0,75.0,5.0,38.0,5.0,6.0,6.0,1,0,0,...,0,1,1,1,0,0,0,0,0,0
8,19.0,73.0,10.0,52.0,NaN,2.0,4.0,1,0,1,...,0,0,0,1,1,0,0,0,1,0
9,21.0,81.0,6.0,41.0,6.0,2.0,2.0,0,1,0,...,0,1,1,1,0,0,0,0,0,0

In [82]:
student_grades_ml_ready.isnull().any()

Age                             True
Attendance                      True
Study_Hours                     True
Class_Size                      True
Sleep_Patterns                  True
                               ...
Lack_of_Interest_Medium        False
Sports_Participation_Low       False
Sports_Participation_Medium    False
Grades_B                       False
Grades_C                       False
Length: 61, dtype: bool

In [218]:
student_grades_ml_ready.to_csv("students_grades_cleaned.csv", index=False)